{% extends "base.html" %}

{% block base_content %}
<div class="row">
  <div class="col">
    <p>banner&nbsp;:</p><p><img src="https://dummyimage.com/468x60/00/ff" alt="Publicité 468x60" /></p>
    <p>leaderboard&nbsp;:</p><p><img src="https://dummyimage.com/728x90/00/ff" alt="Publicité 728x90" /></p>
    <p>large-leaderboard&nbsp;:</p><p><img src="https://dummyimage.com/970x90/00/ff" alt="Publicité 970x90" /></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>small-square&nbsp;:</p><p><img src="https://dummyimage.com/200x200/00/ff" alt="Publicité 200x200" /></p>
    <p>square&nbsp;:</p><p><img src="https://dummyimage.com/250x250/00/ff" alt="Publicité 250x250" /></p>
    <p>inline-rectangle&nbsp;:</p><p><img src="https://dummyimage.com/300x250/00/ff" alt="Publicité 300x250" /></p>
    <p>large-rectangle&nbsp;:</p><p><img src="https://dummyimage.com/336x280/00/ff" alt="Publicité 336x280" /></p>
  </div>
  <div class="col">
    <p>skyscraper&nbsp;:</p><p><img src="https://dummyimage.com/120x600/00/ff" alt="Publicité 120x600" /></p>
  </div>
  <div class="col">
    <p>wide-skyscraper&nbsp;:</p><p><img src="https://dummyimage.com/160x600/00/ff" alt="Publicité 160x600" /></p>
  </div>
  <div class="col">
    <p>half-page&nbsp;:</p><p><img src="https://dummyimage.com/300x600/00/ff" alt="Publicité 300x600" /></p>
  </div>
</div>
{% endblock %}
