{% extends "base.html" %}

{% block base_content %}
<div class="row">
  <div class="col">
    <p>468x60-banner.png:</p><p><img src="468x60-banner.png" alt="Publicité 468x60" /></p>
    <p>728x90-leaderboard.png:</p><p><img src="728x90-leaderboard.png" alt="Publicité 728x90" /></p>
    <p>970x90-large-leaderboard.png:</p><p><img src="970x90-large-leaderboard.png" alt="Publicité 970x90" /></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>200x200-small-square.png:</p><p><img src="200x200-small-square.png" alt="Publicité 200x200" /></p>
    <p>250x250-square.png:</p><p><img src="250x250-square.png" alt="Publicité 250x250" /></p>
    <p>300x250-inline-rectangle.png:</p><p><img src="300x250-inline-rectangle.png" alt="Publicité 300x250" /></p>
    <p>336x280-large-rectangle.png:</p><p><img src="336x280-large-rectangle.png" alt="Publicité 336x280" /></p>
  </div>
  <div class="col">
    <p>120x600-skyscraper.png:</p><p><img src="120x600-skyscraper.png" alt="Publicité 120x600" /></p>
  </div>
  <div class="col">
    <p>160x600-wide-skyscraper.png:</p><p><img src="160x600-wide-skyscraper.png" alt="Publicité 160x600" /></p>
  </div>
  <div class="col">
    <p>300x600-half-page.png:</p><p><img src="300x600-half-page.png" alt="Publicité 300x600" /></p>
  </div>
</div>
{% endblock %}
