{% set stylesheets = [
  "/lib/bootstrap-4.1.1.min.css",
  "/style.css",
] + (stylesheets|default([])) -%}

{%- set scripts = [
  "/lib/jquery-3.3.1.min.js",
  "/lib/popper-1.14.3.min.js",
  "/lib/bootstrap-4.1.1.min.js",
  "/lib/lodash-4.17.10.min.js",
  "/lib/URI-1.19.1.min.js",
  "/lib/moment-2.22.2.min.js",
  "/lib/js.cookie-2.2.0.js",
  "/main.js",
] + (scripts|default([])) -%}

<!doctype html>
<html lang="fr" class="mdrn-no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% for css in stylesheets %}
    <link rel="stylesheet" href="{{ css }}">
{% endfor %}

    <title>Splight</title>

    <script src="/lib/modernizr-custom.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><a href="/">Splight</a>{% block jumbo_city %}{% endblock %}</h1>
        <p class="lead">{% block jumbo_lead %}Votre agenda culturel régional.{% endblock %}</p>
      </div>

      <div class="sp-noscript">
        <div class="row"><div class="col-md-3"></div><div class="col-md-6" style="border: red solid 3px">
          <p>Splight utilise JavaScript, qui semble être désactivé dans votre navigateur.</p>
          <p>Voici les <a href="https://www.enable-javascript.com/fr/" target="_blank">instructions pour activer JavaScript dans votre navigateur Web</a>.</p>
        </div><div class="col-md-3"></div></div>
      </div>

      <div class="sp-retro">
        <div class="row"><div class="col-md-3"></div><div class="col-md-6" style="border: red solid 3px">
          <p>Splight utilise des fonctionalités des navigateurs récents et ne peut pas être utilisé avec ce navigateur.</p>
          <p>Vous pouvez metre à jour votre navigateur, ou utiliser <a href="https://www.google.com/chrome/">Google Chrome</a> ou <a href="https://www.mozilla.org/fr/firefox/">Mozzila Firefox</a>.</p>
        </div><div class="col-md-3"></div></div>
      </div>

      <div class="sp-modern">
        {% block contents %}{% endblock %}
      </div>

      <p>Copyright <a href="mailto:vincent@vincent-jacques.net">Vincent Jacques</a> 2018<span id="sp-admin-enter">.</span></p>
    </div>

    <div id="sp-admin">
      <p>Mode administrateur</p>
      <input id="sp-admin-quit" type="button" value="Quitter" />
      {% block admin %}{% endblock %}
    </div>

    {% for js in scripts %}
    <script src="{{ js }}"></script>
    {% endfor %}

    {% block script %}{% endblock %}

    <script>
      $(function() {
        Splight.initialize({
          {% block splight_parameters %}{% endblock %}
        });
      });
    </script>
  </body>
</html>
