<!doctype html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/lib/bootstrap-4.1.1.min.css">
    <link rel="stylesheet" href="{{ root_path }}/style.css">
{% for css in additional_css|default([]) %}
    <link rel="stylesheet" href="{{ css }}">
{% endfor %}

    <title>Splight</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><a href="{{ root_path }}/">Splight</a>{% if city is defined %} - <a href="{{ root_path }}/{{ city.slug }}/">{{ city.name }}</a>{% endif %}</h1>
        <p class="lead">Votre agenda culturel {% if city is defined %}à {{ city.name }} et dans sa région{% else %}régional{% endif %}.</p>
      </div>

      <noscript>
        <div class="row"><div class="col-md-3"></div><div class="col-md-6" style="border: red solid 3px">
          <p>Pour accéder à toutes les fonctionnalités de Splight (notamment l'affichage des calendriers filtrés par catégories), vous devez activer JavaScript.</p>
          <p>Voici les <a href="https://www.enable-javascript.com/fr/" target="_blank">instructions pour activer JavaScript dans votre navigateur Web</a>.</p>
        </div><div class="col-md-3"></div></div>
      </noscript>

      <div>
{% block contents %}
{% endblock %}
      </div>

      <p>Copyright <a href="mailto:vincent@vincent-jacques.net">Vincent Jacques</a> 2018</p>
    </div>

    <script src="/lib/jquery-3.3.1.slim.min.js"></script>
    <script src="/lib/popper-1.14.3.min.js"></script>
    <script src="/lib/bootstrap-4.1.1.min.js"></script>
{% for js in additional_js|default([]) %}
    <script src="{{ js }}"></script>
{% endfor %}

{% block script %}
{% endblock %}
  </body>
</html>
