<!doctype html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ root_path }}/style.css">
{% for css in additional_css|default([]) %}
    <link rel="stylesheet" href="{{ css }}">
{% endfor %}

    <title>Splight</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><a href="{{ root_path }}/">Splight</a>{% if city is defined %} - <a href="{{ root_path }}/{{ city.slug }}/">{{ city.name }}</a>{% endif %}</h1>
        <p class="lead">Votre agenda culturel {% if city is defined %}à {{ city.name }} et dans sa région{% else %}régional{% endif %}.</p>
      </div>

      <noscript>
        <div class="row"><div class="col-md-3"></div><div class="col-md-6" style="border: red solid 3px">
          <p>Pour accéder à toutes les fonctionnalités de Splight (notamment l'affichage des calendriers filtrés par catégories), vous devez activer JavaScript.</p>
          <p>Voici les <a href="https://www.enable-javascript.com/fr/" target="_blank">instructions pour activer JavaScript dans votre navigateur Web</a>.</p>
        </div><div class="col-md-3"></div></div>
      </noscript>

      <div>
{% block contents %}
{% endblock %}
      </div>

      <p>Copyright <a href="mailto:vincent@vincent-jacques.net">Vincent Jacques</a> 2018</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
{% for js in additional_js|default([]) %}
    <script src="{{ js }}" crossorigin="anonymous"></script>
{% endfor %}

{% block script %}
{% endblock %}
  </body>
</html>
