{% set additional_css = ["https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css"] %}
{% set additional_js = [
  "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js",
  "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js",
  "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/fr.js",
  "https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.1/URI.min.js",
  "https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html5/native.history.js",
  "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js",
] %}
{% extends "base.html" %}

{% block contents %}
<div class="row d-lg-none">
  <div class="col">
    <div class="advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/468x60-banner.png" /></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>Semaine du {{ week.days[0]|format_date }}</h1>

    <form class="script" id="display_tags">
  {% for tag in tags %}
      <div class="form-check form-check-inline display_checkbox" style="border-color: {{ tag.border_color }}; background-color: {{ tag.background_color }}">
        <input class="form-check-input" type="checkbox" id="display_tag_{{ tag.slug }}" data-tag="{{ tag.slug }}">
        <label class="form-check-label" for="display_tag_{{ tag.slug }}">{{ tag.title }}</label>
      </div>
  {% endfor %}
    </form>

    <div class="row">
      <div class="col">{% if week.previous_week %}<p class="text-right"><a class="tagged" href="{{ root_path }}/{{ city.slug }}/{{ week.previous_week.slug }}/">&lt; Semaine précédente</a></p>{% endif %}</div>
      <div class="col">{% if week.next_week %}<p><a class="tagged" href="{{ root_path }}/{{ city.slug }}/{{ week.next_week.slug }}/">Semaine suivante &gt;</a></p>{% endif %}</div>
    </div>

    <div id="calendar">
      <noscript><dl>
  {% for day in week.days %}
        <dt>{{ day|format_date }}</dt>
    {% set day_events = events.get(day, []) %}
    {% if day_events %}
        <dd><ul>
      {% for event in day_events %}
          <li>{{ event.datetime|format_time }}, {{ event.location }}&nbsp;: {{ event.artist }} ({{ event.genre }})</li>
      {% endfor %}
        </ul></dd>
    {% else %}
        <dd>Rien de prévu.</dd>
    {% endif %}
  {% endfor %}
      </dl></noscript>
    </div>

    <div class="row">
      <div class="col">{% if week.previous_week %}<p class="text-right"><a class="tagged" href="{{ root_path }}/{{ city.slug }}/{{ week.previous_week.slug }}/">&lt; Semaine précédente</a></p>{% endif %}</div>
      <div class="col">{% if week.next_week %}<p><a class="tagged" href="{{ root_path }}/{{ city.slug }}/{{ week.next_week.slug }}/">Semaine suivante &gt;</a></p>{% endif %}</div>
    </div>
  </div>
  <div class="col-lg-3 col-xl-2 d-none d-lg-inline-block">
    <div class="advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/160x600-wide-skyscraper.png" /></p>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  var tag_names = {
  {% for tag in tags %}
    {{ tag.slug }}: "{{ tag.title|lower }}",
  {% endfor %}
  };

  function get_tags_from_location() {
    var query = URI.parseQuery(URI.parse(window.location.href).query);
    var tags = [];
    for(var tag in tag_names) {
      if(_.has(query, tag)) {
        tags.push(tag);
      }
    }
    return tags;
  }

  function put_tags_in_location(tags) {
    tags = new Set(tags);
    function fix_query(data) {
      for(tag in tag_names) {
        if(tags.has(tag)) {
          data[tag] = null;
        } else {
          delete data[tag];
        }
      }
    }
    var uri = new URI(window.location.href);
    uri.search(fix_query);
    var title = "Splight";
    if(tags.length) {
      title = "Splight: " + tags.map(x => tag_names[x]).join(", ");
    }
    History.replaceState(null, title, uri.toString());
    window.document.title = title;
    $("a.tagged").each(function() {
      var a = $(this);
      var uri = new URI(a.prop("href"));
      uri.search(fix_query);
      a.prop("href", uri.toString());
    });
  }

  function get_tags_from_inputs() {
    var tags = [];
    $("#display_tags input").each(function() {
      var checkbox = $(this);
      if(checkbox.prop("checked")) {
        tags.push(checkbox.data("tag"));
      }
    });
    return tags;
  }

  function put_tags_in_inputs(tags) {
    $('#display_tags input').prop("checked", false);
    for(var tag of tags) {
      $('#display_tags input[data-tag="' + tag + '"]').prop("checked", true);
    }
  }
</script>

<script>
  var all_events = [
  {% for day in week.days %}
    {% for event in events.get(day, []) %}
    {
      title: "{{ event.location }}: {{ event.artist }} ({{ event.genre }})",
      start: "{{ event.datetime }}",
      tags: new Set([{% for tag in event.tags %}"{{ tag.slug }}"{% if not loop.last %}, {% endif %}{% endfor %}]),
      backgroundColor: "{{ event.tags[0].background_color }}",
      borderColor: "{{ event.tags[0].border_color }}",
    },
    {% endfor %}
  {% endfor %}
  ];

  function have_intersection(xs, ys) {
    for(var y of ys) {
      if(xs.has(y)) {
        return true;
      }
    }
    return false;
  }

  function eventSourceFunction(start, end, timezone, callback) {
    var displayed_tags = new Set(get_tags_from_inputs());
    callback(all_events.filter(event => have_intersection(event.tags, displayed_tags)));
  }
</script>

<script>
  $(function() {
    $(".script").show();

    put_tags_in_inputs(get_tags_from_location());
    put_tags_in_location(get_tags_from_inputs());

    $("#calendar").fullCalendar({
      header: false,
      defaultDate: "{{ week.days[0] }}",
      defaultView: "agendaWeek",
      locale: "fr",
      allDaySlot: false,
      eventLimit: true,
      scrollTime: "11:00:00",
      events: eventSourceFunction,
    });

    var calendar = $('#calendar').fullCalendar('getCalendar');

    $("#display_tags input").on("change", function() {
      put_tags_in_location(get_tags_from_inputs());
      calendar.refetchEventSources(calendar.getEventSources());
    });
  });
</script>
{% endblock %}
