{% set stylesheets = [
  "/lib/fullcalendar-3.9.0.min.css",
] -%}

{% set scripts = [
  "/lib/fullcalendar-3.9.0.min.js",
  "/lib/fullcalendar-locale-fr-3.9.0.js",
] -%}

{% extends "base_within_city.html" %}

{% block contents %}
<div class="row d-lg-none">
  <div class="col">
    <div class="sp-advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/468x60-banner.png" /></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>Semaine du {{ displayed_week.start_date|format_date }}</h1>

    <div class="row"><div class="col"><div id="sp-tag-filtering" class="form-group">
      {% for tag in city.tags %}
      <div class="form-check form-check-inline" style="border-color: {{ tag.border_color }}; background-color: {{ tag.background_color }}">
        <label class="form-check-label"><input class="form-check-input" type="checkbox" value="{{ tag.slug }}" />{{ tag.title }}</label>
      </div>
      {% endfor %}
    </div></div></div>

    <div class="row">
      <div class="col">
        <p class="text-right"><a class="sp-previous-week-link sp-tag-filtering-tagged-link" href="/{% if displayed_week.previous.start_date >= first_week.start_date %}{{ city.slug }}/{{ displayed_week.previous.slug }}/{% endif %}">&lt; Semaine précédente</a></p>
      </div>
      <div class="col">
        <p class="text-center"><a class="sp-now-week-link sp-tag-filtering-tagged-link" href="/">Cette semaine</a></p>
      </div>
      <div class="col">
        <p class="text-left"><a class="sp-next-week-link sp-tag-filtering-tagged-link" href="/{% if displayed_week.next.start_date < week_after.start_date %}{{ city.slug }}/{{ displayed_week.next.slug }}/{% endif %}">Semaine suivante &gt;</a></p>
      </div>
    </div>

    <div id="sp-fullcalendar"></div>
  </div>

  <div class="col-lg-3 col-xl-2 d-none d-lg-inline-block">
    <div class="sp-advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/160x600-wide-skyscraper.png" /></p>
    </div>
  </div>
</div>
{% endblock %}

{% block splight_parameters %}
          city: {
            slug: "{{ city.slug }}",
            displayed_week: {
              start_date: moment("{{ displayed_week.start_date }}"),
              first_week: {
                start_date: moment("{{ first_week.start_date }}"),
              },
              week_after: {
                start_date: moment("{{ week_after.start_date }}"),
              },
            },
          },
{% endblock %}
