---
---
/* Palette URL: http://paletton.com/#uid=23L0u0kpQDuc3ShjLJY-8wmA2me */
$color-primary-very-light: #9AB2E8
$color-primary-light: #5E81D2
$color-primary: #3660C1
$color-primary-dark: #103FAC
$color-primary-very-dark: #0A2B77
$color-complement-very-light: #FFDF9F
$color-complement-light: #FFCB62
$color-complement: #FFBA31
$color-complement-dark: #FFAA00
$color-complement-very-dark: #B17600


body
  background-color: $color-primary-very-light

.container
  background-color: white
  border: solid 3px $color-complement

.jumbotron
  background-color: $color-complement-very-light

h1
  color: $color-primary-very-dark

a
  color: $color-primary

.advertisement
  color: grey
  padding-bottom: 20px

.advertisement p
  margin: 0
  font-size: 0.8em
