{% extends "base.html" %}

{% block contents %}<div class="row">
  <div class="col">
    <p>468x60-banner.png:</p><p><img src="468x60-banner.png" /></p>
    <p>728x90-leaderboard.png:</p><p><img src="728x90-leaderboard.png" /></p>
    <p>970x90-large-leaderboard.png:</p><p><img src="970x90-large-leaderboard.png" /></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>200x200-small-square.png:</p><p><img src="200x200-small-square.png" /></p>
    <p>250x250-square.png:</p><p><img src="250x250-square.png" /></p>
    <p>300x250-inline-rectangle.png:</p><p><img src="300x250-inline-rectangle.png" /></p>
    <p>336x280-large-rectangle.png:</p><p><img src="336x280-large-rectangle.png" /></p>
  </div>
  <div class="col">
    <p>120x600-skyscraper.png:</p><p><img src="120x600-skyscraper.png" /></p>
  </div>
  <div class="col">
    <p>160x600-wide-skyscraper.png:</p><p><img src="160x600-wide-skyscraper.png" /></p>
  </div>
  <div class="col">
    <p>300x600-half-page.png:</p><p><img src="300x600-half-page.png" /></p>
  </div>
</div>
{% endblock %}
