{% extends "base.html" %}

{% block contents %}
<div class="row d-lg-none">
  <div class="col">
    <div class="advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/468x60-banner.png" /></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>{{ section.event_type }} de la semaine du {{ start_date }}</h1>
    <dl>
  {% for day in days %}
    <dt>{{ day.date }}</dt>
    <dd><ul>
    {% for event in day.events %}
    <li>{{ event.time }}, {{ event.location }}&nbsp;: {{ event.artist }} ({{ event.genre }})</li>
    {% endfor %}
    </ul></dd>
  {% endfor %}
    </dl>

    <div class="row">
      <div class="col">{% if previous_week %}<p class="text-right"><a href="/{{ city.slug }}/{{ section.slug }}/{{ previous_week }}/">&lt; Semaine précédente</a></p>{% endif %}</div>
      <div class="col">{% if next_week %}<p><a href="/{{ city.slug }}/{{ section.slug }}/{{ next_week }}/">Semaine suivante &gt;</a></p>{% endif %}</div>
    </div>
  </div>
  <div class="col-lg-3 col-xl-2 d-none d-lg-inline-block">
    <div class="advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/160x600-wide-skyscraper.png" /></p>
    </div>
  </div>
</div>
{% endblock %}
