body {
    background-color: #F99;
}

.container {
    background-color: #fff;
    border: solid 3px #FFBA31;
}

.jumbotron {
    background-color: #FFDF9F;
}

h1 {
    color: #0A2B77;
}

a {
    color: #3660C1;
}

.advertisement {
    color: gray;
    padding-bottom: 20px;
}

.advertisement p {
    margin: 0;
    font-size: .8em;
}

.script {
    display: none;
}

.display_checkbox {
    padding: 2px;
    border-radius: 3px;
    border: solid 1px;
}
