body {
    background-color: #9AB2E8;
}

.container {
    background-color: #fff;
    border: solid 3px #FFBA31;
}

.jumbotron {
    background-color: #FFDF9F;
}

h1 {
    color: #0A2B77;
}

a {
    color: #3660C1;
}

.sp-advertisement {
    color: gray;
    padding-bottom: 20px;
}

.sp-advertisement p {
    margin: 0;
    font-size: .8em;
}

.sp-display-checkbox {
    padding: 2px;
    border-radius: 3px;
    border: solid 1px;
}

.mdrn-js .sp-noscript {
    display: none;
}

.mdrn-no-js .sp-retro {
    display: none;
}

.mdrn-arrow.mdrn-es6collections.mdrn-hashchange.mdrn-history .sp-retro {
    display: none;
}

.sp-modern {
    display: none;
}

.mdrn-arrow.mdrn-es6collections.mdrn-hashchange.mdrn-history .sp-modern {
    display: block;
}

#sp-admin {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    border: red 3px solid;
    background-color: #faa;
}

.sp-admin-only {
    border: red 1px solid;
    background-color: #faa;
}
