{% set stylesheets = [
  "/lib/fullcalendar-3.9.0.min.css",
] -%}

{% set scripts = [
  "/lib/fullcalendar-3.9.0.min.js",
  "/lib/fullcalendar-locale-fr-3.9.0.js",
] -%}

{% extends "city/base.html" %}

{% block city_base_content %}
<div class="row d-lg-none">
  <div class="col">
    <div class="sp-advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/468x60-banner.png" /></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1 id="sp-timespan-title">{% if displayed_week %}Semaine du {{ displayed_week.start_date|format_date }}{% elif displayed_three_days %}3 jours à partir du {{ displayed_three_days.start_date|format_date }}{% else %}Journée du {{ displayed_day.date|format_date }}{% endif %}</h1>

    <div class="row"><div class="col"><div id="sp-tag-filtering" class="form-group">
      {% for tag in city.tags %}
      <div class="form-check form-check-inline" style="border-color: {{ tag.border_color }}; background-color: {{ tag.background_color }}">
        <label class="form-check-label"><input class="form-check-input" type="checkbox" value="{{ tag.slug }}" />{{ tag.title }}</label>
      </div>
      {% endfor %}
    </div></div></div>

    <div class="row">
      <div class="col">
        <p class="text-right">&nbsp;<a class="sp-timespan-previous sp-tag-filtering-tagged-link" href="/{{ city.slug }}/{{ timespan.previous_link_slug }}/">&lt; {{ timespan.previous_link_text }}</a></p>
      </div>
      <div class="col"><div class="form-group text-center">
        <label>Afficher&nbsp;: <select id="sp-timespan-duration"><option value="Week">une semaine</option><option value="ThreeDays">trois jours</option><option value="Day">une journée</option></select></label>
      </div></div>
      <div class="col">
        <p class="text-left"><a class="sp-timespan-next sp-tag-filtering-tagged-link" href="/{{ city.slug }}/{{ timespan.next_link_slug }}/">{{ timespan.next_link_text }} &gt;</a>&nbsp;</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-right">&nbsp;<a class="sp-timespan-now-1 sp-tag-filtering-tagged-link" href="/{{ city.slug }}//">{{ timespan.now_1_link_text }}</a></p>
      </div>
      <div class="col">
        <p class="text-left"><a class="sp-timespan-now-2 sp-tag-filtering-tagged-link" href="/{{ city.slug }}//">{{ timespan.now_2_link_text }}</a>&nbsp;</p>
      </div>
    </div>

    <div id="sp-fullcalendar"></div>
  </div>

  <div class="col-lg-3 col-xl-2 d-none d-lg-inline-block">
    <div class="sp-advertisement">
      <p>Publicité</p>
      <p><img class="img-fluid" src="/ads/160x600-wide-skyscraper.png" /></p>
    </div>
  </div>
</div>
{% endblock %}
