$sp-main-color-very-light: #9AB2E8;
// $sp-main-color-light: #5E81D2;
$sp-main-color: #3660C1;
// $sp-main-color-dark: #103FAC;
$sp-main-color-very-dark: #0A2B77;
$sp-complement-color-very-light: #FFDF9F;
// $sp-complement-color-light: #FFCB62;
$sp-complement-color: #FFBA31;
// $sp-complement-color-dark: #FFAA00;
$sp-complement-color-very-dark: #B17600;
